.texas-entrance{
  left: -100%;
  animation: texas-entrance ease 2s forwards;
}

.dialogue-entrance{
  font-size: 1.2rem;
  opacity: 0;
  animation:dialogue-entrance forwards 2s linear .5s
}

.dialogue-entrance{
  box-shadow:0 0 55px 60px rgba(0,0,0,1)
}

.search-box-animate{
  right: -100%;
  animation:search-box-entrance 2s ease-in forwards;
  animation-delay: 1.5s;
}

@keyframes search-box-entrance{
  0%{
    right:-100%;
    transform: perspective(2500px) rotateY(0deg);
  }
  100%{
    right: 0;
    transform: perspective(2500px) rotateY(-20deg);
  }
}





@keyframes texas-entrance {
  0%{
    left:-100%;
  }
  100%{
    left:-25%;
  }
}
@keyframes dialogue-entrance {
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
opacity: 1;
  }
  
}